<section class="d-flex justify-content-center align-items-center mt-3" id="sobre">
    <div class="container">
        <div class="d-flex justify-content-center">
            <img class="img-fluid border border-2 rounded-5" src="/foto-profile.jpg" alt="Foto de Leonardo Dallago" width="275px">
        </div>

        <h2 class="display-5 text-center mt-5 mb-5">Sobre min</h2>

        <div class="row flex-wrap">
            <div class="col-lg-6 mt-3">
                <h3 class="fs-3">Meu nome e Leonardo Dallago, um desenvolvedor Full-Stack</h3>

                <p class="fs-5 mt-3">{{mipSum}}</p>

            </div>

            <div class="col-lg-1 border-start" style="margin-right: -35px "></div>

            <div class="col">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item py-2">Nome: <strong>Leonardo Dallago de Cordova</strong></li>
                    <li class="list-group-item py-2">
                        E-mail:
                        <strong>
                            <a href="mailto:leodallago@outlook.com" class="text-dark text-decoration-none">leodallago&#64;outlook.com
                            </a>
                        </strong>
                    </li>
                    <li class="list-group-item py-2">Idade: <strong>26</strong></li>
                    <li class="list-group-item py-2">De: <strong>Lages-SC, Brasil</strong></li>
                    <li class="list-group-item py-2"> Redes:
                        <!--sem numero do telefone por enquanto-->
                        <a
                                class="text-dark  m-2"
                                href="https://api.whatsapp.com/send?phone=NUMEROTELEFONEAQUI"
                                target="_blank"
                        >
                            <i class="bi bi-whatsapp fs-3"></i>
                        </a>
                        <a
                                class="text-dark m-2"
                                href=""
                                target="_blank"
                        >
                            <i class="bi bi-instagram fs-3"></i>
                        </a>
                        <a
                                class="text-dark m-2"
                                href="https://www.linkedin.com/in/leonardo-dallago-a28150272"
                                target="_blank"
                        >
                            <i class="bi bi-linkedin fs-3"></i>
                        </a>
                        <a
                                class="text-dark m-2"
                                href="https://github.com/LeoDallago"
                                target="_blank"
                        >
                            <i class="bi bi-github fs-3"></i>
                        </a>
                    </li>
                </ul>

                <div class="d-flex justify-content-center align-items-center gap-3 mt-5">

                </div>
            </div>
        </div>
    </div>
</section>
