<section id="portfolio">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="display-5 text-center">Portfolio</h2>
            <div class="col-lg-9">
                <div id="carouselExample" class="carousel slide ">
                    <div class="carousel-inner">
                        <div *ngFor="let item of itensPortfolio" class="carousel-item active text-center">
                            <img [src]="item.foto" class="d-block mb-1 img-fluid" alt="...">
                            <p class="fs-5 fw-semibold">{{ item.descricao }}</p>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>